<footer class="footer">
	<div class="footer__container w-container">
		<div class="footer__site">
			<a href="index.html">
        <%= link_to image_tag("logo.jpg", class:"logo", :alt => 'logo'), "/" %>
			</a>
		</div>

		<div class="footer__copy">
			@ Fgpj Production.
		</div>
	</div>
</footer>
